@import "stylesheets/config/colors";



.bearing {
  display: flex;
   align-items: top;
   justify-content: center;
transition: opacity 1s;
margin: auto;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;

}
