@import "stylesheets/config/colors";

.citylist {
  font-weight: bold;
  overflow: hidden;
  display: flex;
   align-items: center;
   justify-content: center;
 }

 /*.citylist > span {
   border-style: solid;
   border-width:3px;
   border-color:$red;
 }*/


.citylist .l-enter {
  transform: translateX(-1000px);
  opacity:0;
  transition: transform 0.5s, opacity 1s;
}

.citylist .l-enter.l-enter-active {
  opacity:1;
  transform: translateX(0);
}

.citylist .l-leave {
  transition: transform 0.2s;
  opacity:0;
  transform: translate3d(0,-100px,0);
}


.citylist .l-leave.l-leave-active {
  transform: translate3d(1000px,-100px,0);
}


.citylist .r-enter {
  transform: translateX(1000px);
  opacity:0;
  transition: transform 0.5s, opacity 1s;
}

  .citylist .r-enter.r-enter-active {
  opacity:1;
  transform: translateX(0);
}

  .citylist .r-leave {
  transition: transform 0.2s;
  opacity:0;
  transform: translate3d(0,100px,0);
}
  .citylist .r-leave.r-leave-active {
  transform: translate3d(-1000px,100px,0);
}
